<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlyf.smg.dao.SMGDao.PosMainMapper">


    <resultMap id="posConfigMap" type="com.hlyf.smg.domin.posConfig">
        <id column="cID" jdbcType="VARCHAR" property="cID" />
        <result column="iGoodsNoStart" jdbcType="INTEGER" property="iGoodsNoStart" />
        <result column="iGoodsNoEnd" jdbcType="INTEGER" property="iGoodsNoEnd" />
        <result column="iMoneyStart" jdbcType="INTEGER" property="iMoneyStart" />
        <result column="iMoneyEnd" jdbcType="INTEGER" property="iMoneyEnd" />
        <result column="iRatio" jdbcType="DECIMAL" property="iRatio" />
        <result column="bMlt" jdbcType="BIT" property="bMlt" />
        <result column="bDazhe" jdbcType="BIT" property="bDazhe" />
        <result column="cCharID" jdbcType="VARCHAR" property="cCharID" />
        <result column="iMoneyStart18" jdbcType="INTEGER" property="iMoneyStart18" />
        <result column="iMoneyEnd18" jdbcType="INTEGER" property="iMoneyEnd18" />
        <result column="iWeightStart" jdbcType="INTEGER" property="iWeightStart" />
        <result column="iWeightEnd" jdbcType="INTEGER" property="iWeightEnd" />
        <result column="iWeightStart18" jdbcType="INTEGER" property="iWeightStart18" />
        <result column="iWeightEnd18" jdbcType="INTEGER" property="iWeightEnd18" />
    </resultMap>

    <!--连锁的获取商品-->
    <select id="GetcStoreGoods" resultType="com.hlyf.smg.domin.cStoreGoods" >

        SELECT cGoodsNo,cGoodsName,cBarcode,cStoreNo,cStoreName,cUnit,
        cSpec,fNormalPrice,fVipPrice,fVipScore,fCKPrice,isWholePack=1,fVipScore,
        youHuiAmount=0.0,amount=fNormalPrice,num=1,packRate=1,bWeight=isnull(bWeight,0) FROM t_cStoreGoods
        WHERE cStoreNo=#{cStoreNo,jdbcType=VARCHAR}
        AND  <![CDATA[ ( ]]> cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR cGoodsNo IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR  cGoodsNo IN
        <![CDATA[ ( ]]>
        SELECT cGoodsNo_parent FROM t_Goods_Union WHERE cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>
        <![CDATA[ ) ]]>


        <![CDATA[ ) ]]>
    </select>

    <!--单店获取商品-->
    <select id="GetcStoreGoodsDanDian" resultType="com.hlyf.smg.domin.cStoreGoods" >

        SELECT cGoodsNo,cGoodsName,cBarcode,cUnit,
        cSpec,fNormalPrice,fVipPrice,fVipScore,fCKPrice,isWholePack=1,fVipScore,
        youHuiAmount=0.0,amount=fNormalPrice,num=1,packRate=1,bWeight=isnull(bWeight,0) FROM t_Goods
        WHERE 1=1
        AND  <![CDATA[ ( ]]> cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR cGoodsNo IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR  cGoodsNo IN
        <![CDATA[ ( ]]>
        SELECT cGoodsNo_parent FROM t_Goods_Union WHERE cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>
        <![CDATA[ ) ]]>


        <![CDATA[ ) ]]>
    </select>

    <select id="getposConfig" parameterType="java.lang.String" resultMap="posConfigMap" statementType="STATEMENT">
        select cID, iGoodsNoStart, iGoodsNoEnd, iMoneyStart, iMoneyEnd, iRatio, bMlt, bDazhe,
        cCharID, iMoneyStart18, iMoneyEnd18, iWeightStart, iWeightEnd, iWeightStart18, iWeightEnd18
        from ${tableName}
        where cID = '${cID}'
    </select>



</mapper>
